$media: $media-server + 'Games/SafetyFirst/';
$image: '#{$media}ImageAssets/';
$sprite: '#{$media}SpritesAnimations/';

$color-white: #fff;
$color-gold: #938218;
$color-yellow: #fdf91f;
$color-black: #000;
$color-green: #008000;
$color-blue: #0ff;
